<div class="card">
  <div class="card__header">
    <h1>Wprowadź dane</h1>
    <p class="text">Wprowadź dane dla postaci {{ typeForm() }}</p>
    <div class="functionPattern">{{ pattern() }}</div>
  </div>
  <div class="card__fields">
    <label>
      {{ firstLabel() }}
      <input
        type="number"
        name=""
        [placeholder]="firstPlaceholder()"
        (input)="onFirstInput($event)"
        [value]="firstValue()"
      />
      @if (firstError()) {
        <p class="card-error">{{ firstError() }}</p>
      }
    </label>

    <label
      >{{ secondLabel()
      }}<input
        type="number"
        name=""
        [placeholder]="secondPlaceholder()"
        (input)="onSecondInput($event)"
        [value]="secondValue()"
      />
      @if (secondError()) {
        <p class="card-error">{{ secondError() }}</p>
      }
    </label>

    <label>
      {{ thirdLabel()
      }}<input
        type="number"
        name=""
        [placeholder]="thirdPlaceholder()"
        (input)="onThirdInput($event)"
        [value]="thirdValue()"
      />
      @if (thirdError()) {
        <p class="card-error">{{ thirdError() }}</p>
      }
    </label>
  </div>
  <button class="mainLink" (click)="onCalculate()">
    <ng-icon name="lucideCalculator" /> Oblicz
  </button>
  <div class="card__footer">
    <ng-icon name="lucideLightbulb" size="24px" />
    <div class="card__tip">
      <p><strong>Porada</strong></p>
      <p>
        {{ hint() }}
      </p>
    </div>
  </div>
</div>
