// main colors
$primary-color: #5b5fef;
$secondary-color: #00c2a8;
$tertiary-color: #ff6b6b;
$neutral-color: #1a1a2e;

//text
$text-color: #464555;
$border-color: #c6c5d7;

//bg
$nav-bg: #FCF8FF;
$footer-bg: #FCF8FF;
$page-bg: #fff;