@use './colors' as *;
@use './functions' as *;
@use './variables' as *;

.sectionPadding {
	padding: 4em 1em;
	@media (min-width: rem(480)) {
		padding: 4em 2em;
	}
}

.text {
	font-size: rem(16);
	line-height: 28px;
	color: $text-color;
	font-weight: 300;
	& b,
	& strong {
		font-weight: 600;
	}
	a {
		display: inline-block;
		border-bottom: 1px solid transparent;
		&:hover {
			border-color: $primary-color;
		}
	}
}
