@use './colors' as *;
@use './functions' as *;
@use './variables' as *;

.sectionPadding {
  padding: 4em 1em;
  @media (min-width: rem(480)) {
    padding: 4em 2em;
  }
}

.text {
  font-size: rem(16);
  line-height: 28px;
  color: $text-color;
  font-weight: 300;
  & b,
  & strong {
    font-weight: 600;
  }
  a {
    display: inline-block;
    border-bottom: 1px solid transparent;
    &:hover {
      border-color: $primary-color;
    }
  }
}

.functionPattern {
  display: flex;
  align-items: center;
  margin-top: rem(24);
  margin-bottom: rem(12);
  font-family: 'Poppins';
  color: $primary-color;
  background-color: #efecff;
  border-radius: 8px;
  padding: rem(10) rem(14);
  &--canonical {
    color: #006b5c;
  }
  &--product {
    color: #a62a30;
  }
}
