@use '../../../../styles/functions' as *;
@use '../../../../styles/colors' as *;

.footer {
  padding:  rem(20);
  background-color: $footer-bg;
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: rem(10);
    > a {
        font-size: rem(14);
        &:hover {
            text-decoration: underline;
        }
    }
  }
}
