<app-main-section-content>
  @if (!result()) {
    <app-card-function-data
    (calculate)="onCalculate($event)"
      typeForm="kanonicznej"
      pattern="f(x) = a(x-p)² + q"
      firstLabel="Współczynik a (a != 0)"
      firstPlaceholder="Wprowadź a"
      secondLabel="Współrzędną  p"
      secondPlaceholder="Wprowadź p"
      thirdLabel="Współrzędną q"
      thirdPlaceholder="Wprowadź q"
      hint="Punkt (p, q) to współrzędne wierzchołka paraboli. Zmiana 'p' przesuwa wykres w poziomie, a 'q' w pionie."
    />
  } @else {
    <app-data-function-results
      (reset)="onReset()"
      [delta]="result()!.delta"
      [zeroPoints]="result()!.zeroPointsResult"
      [coordinates]="result()!.coordinatesResult"
      [a]="result()!.first"
      [b]="result()!.b"
      [c]="result()!.c"
    />
  }
</app-main-section-content>
