<app-main-section-content>
  @if (!result()) {
    <app-card-function-data
      (calculate)="onCalculate($event)"
      typeForm="iloczynowej"
      pattern="f(x) = a(x-x₁)(x-x₂)"
      firstLabel="Współczynik a (a != 0)"
      firstPlaceholder="Wprowadź a"
      secondLabel="Pierwiastek x₁"
      secondPlaceholder="Wprowadź x₁"
      thirdLabel="Pierwiastek x₂"
      thirdPlaceholder="Wprowadź x₂"
      hint="x₁ i x₂ to miejsca zerowe funkcji, czyli punkty, w których wykres przecina oś OX. Jeśli x₁ = x₂, funkcja ma tylko jedno miejsce zerowe."
    />
  } @else {
    <app-data-function-results
      (reset)="onReset()"
      [delta]="result()!.delta"
      [zeroPoints]="result()!.zeroPointsResult"
      [coordinates]="result()!.coordinatesResult"
      [a]="result()!.first"
      [b]="result()!.b"
      [c]="result()!.c"
    />
  }
</app-main-section-content>
